.no_print {
    /* La metto per le pagine che non vanno stampate  */
    display: none;
}

body {
    font-family: "Times New Roman", Times, serif;
    color:black;
}

button{display:none}

#search-form{
    display:none;
}

.listings-list {
    display: block;
    margin-bottom: 1.5em;
}

.listings-list .listing{
    border:1px solid lightgrey;
    width:300px;   
    height:400px;
    justify-content:start;
}

.listing-img {
    width:150px;
    height:200px;
    align-self: center;
}

.listing p a {
    display:none;
}

.listings-list .listing-title {
    color:black;
}

#breadcrumb li a:visited{
    color:black;
    text-decoration: none;
}