/* Importazione font */
@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alfa Slab One";
    src: url("./assets/fonts/AlfaSlabOne-Regular.ttf");
}

/* Variabili colori */
:root {
    --bg: rgb(250, 250, 250);
    --bg-alt: rgb(230, 230, 230);
    --fg-alt: rgb(180, 180, 180);
    --accent-red: rgb(153, 0, 20);
    --accent-red-2: rgb(205, 69, 59);
    --accent-red-3: rgb(255, 118, 102);
    --registration-advantages: rgb(247, 248, 251);
    --error-warning: rgba(255, 42, 81, 0.1);
    --active-visited-link: rgb(252, 181, 15);
    --fg: rgb(20, 20, 20);
}

/* Regole generali, da applicare a tutte le pagine */
/* Mobile-first, quindi si applicano a tutti gli schermi con dimensioni minori del primo breakpoint */
* {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

html,
body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    font-size: 100%;
    font-family: "Alexandria", sans-serif;
    line-height: 1.5em;

    margin: auto;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

header {
    background-color: var(--accent-red);
    color: var(--bg);
    padding: 1em 2em;
    width: 100%;
    top: 0;
    box-shadow: 0 0px 4px 0 rgba(123, 123, 123, 0.2);
}

header h1 {
    font-family: "Alfa Slab One", sans-serif;
    margin-right: 0.5em;
    font-weight: 500;
    font-size: 2em;
}

header img {
    width: 2em;
    height: 2em;
}

header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--bg);
    text-decoration: none;
}

.logo:hover {
    text-decoration: underline;
}

#menu-btn {
    padding: 0.3em 0.8em;
    border: 3px solid var(--bg);
    background-color: rgba(255, 0, 0, 0);
    color: var(--bg);
}

#menu {
    display: none;
    padding: 0.75em 0 0 0;
    justify-content: end;
    align-items: center;
    font-size: 1.2em;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: unset;
    padding: unset;
}

nav li {
    display: inline;
    padding: 0.5em 0.25em;
    text-align: right;
}

nav a:visited {
    color: var(--bg);
}

#menu.show-menu {
    display: flex;
}

#breadcrumb {
    font-size: 0.8em;
    background-color: var(--accent-red-2);
    color: var(--bg);
}

#breadcrumb p {
    padding: 1em;
    margin: unset;
}

section {
    padding: 1.5em 1.5em;
    width: 100%;
}

section h2 {
    text-align: center;
    color: var(--accent-red-2);
    font-weight: 600;
    text-transform: uppercase;
}

section p {
    font-size: 1.1em;
}

input {
    margin-bottom: 1em;
}

label {
    margin-bottom: 0.25em;
}

label p {
    /* errori client-side sugli input */
    background-color: var(--error-warning);
    padding: 0.5em;
    border-left: 2px solid red;
}

abbr {
    text-decoration: none;
}

footer {
    background-color: var(--accent-red);
    color: var(--bg);
    padding: 1em;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-family: "Alfa Slab One", sans-serif;
}

/* HOME */

#home main{
    background-image: url("./assets/imgs/studying.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1.1em 1.5em 1.1em;
    height: 93vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 93);
}

#home main>div {
    background-color: rgba(205, 69, 59, 0.95);
    padding: 1.25em 1em;
    border-radius: 15px;
    margin-top: 1em;
}

#home h2 {
    color: var(--bg);
    margin: unset;
    text-align: center;
    font-size: 2em;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
}

#home form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#home input {
    border-radius: 30px;
    height: 2em;
    width: 100%;
    padding: 2em;
    /*border: solid 2px var(--fg-alt);*/
    border: none;
    font-size: 1em;
}

#home #search-buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2.5em;
}

#home select {
    border-radius: 30px;
    width: 70%;
    height: 100%;
    padding-left: 1em;
    /*border: solid 2px var(--fg-alt);*/
    border: none;
    font-size: 1em;
}

#home button {
    width: 25%;
}

.button {
    border-radius: 30px;
    height: 100%;
    border: none;
    font-size: 1em;
}

/* INFO */
#info>img,
#disclaimer>img {
    display: none;
}

#info {
    background-image: url("./assets/imgs/studyoutside.jpg");
    background-size: cover;
    background-position: center;
}

.text {
    padding: 1.5em;
    border-radius: 10px;
}

#info .text {
    background-color: rgba(250, 250, 250, 0.85);
}

#disclaimer {
    background-image: url("./assets/imgs/studyingheadphones.jpg");
    background-size: cover;
    background-position: center;
}

#disclaimer .text {
    background-color: rgba(230, 230, 230, 0.85);
}

/* RISULTATI */
#risultati-main {
    display: flex;
    flex-direction: column;
}

#listings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em;
}

.listing {
    margin-top: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: var(--bg-alt);
    border-radius: 10px;
    width: 95%;
}

.listing-title {
    padding: 1em 0em 0em 1em;
    font-weight: bold;
    font-size: 1.6em;
    color: var(--accent-red-2);
}

.listing-author {
    padding: 0.5em 0em 1em 1.3em;
    font-weight: normal;
    font-size: 1.2em;
    color: var(--accent-red-3);
}

.listing-img {
    aspect-ratio: 4/5;
    object-fit: cover;
    max-width: 100%;
}

.listing p {
    padding: 0.75em 0em 0.5em 1.3em;
    font-size: 1em;
}

.listing-price {
    font-weight: bold;
    font-size: 1.3em;
}

.listing-user {
    font-weight: normal;
    color: var(--fg);
}

.listing a {
    padding: 0.5em;
    margin: 0.5em 0.5em 0.75em 0.5em;
    color: white;
    text-decoration: none;
    background-color: var(--accent-red-2);
    border-radius: 10px;
    text-align: center;
    display: block;
}

#orderForm {
    margin-left: 10%;
}

#scelteOrdinamento {
    padding: 0.2em;
}

/* SINGOLO ANNUNCIO */

#listing-content main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-alt);
}

#listing-content h2 {
    color: var(--accent-red);
    font-size: 2em;
    line-height: 1.25em;
    margin-bottom: .25em;
}

#listing-content img {
    width: auto;
    height: auto;
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
    margin-top: 2em;
    margin-bottom: 2em;
}

#listing-content #listing-price {
    font-weight: bold;
    font-size: 2em;
    color: var(--accent-red-2);
    margin-top: 1em;
    margin-bottom: 1em;
}

#listing-content dt,
#listing-content dd {
    display: inline;
}

#listing-content dt {
    font-weight: bold;
}

#listing-content dd {
    text-align: end;
    margin-left: 1em;
}

#listing-content .listing-property {
    display: flex;
    justify-content: space-between;
    line-height: 1.75em;
}

#listing-content #listing-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
}

#listing-content .listing-btn {
    background-color: var(--accent-red-3);
    padding: .5em;
    border-radius: 10px;
    width: 49%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* LOGIN E REGISTRAZIONE */
.multiple-fields-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.multiple-fields-form select {
    padding: 1em;
    border: 2px solid var(--fg-alt);
    border-radius: 10px;
    margin-bottom: 1em;
}

.multiple-fields-form input {
    padding: 1em;
    border: 2px solid var(--fg-alt);
    border-radius: 10px;
}

.multiple-fields-form p {
    margin-top: 0.5em;
}

.multiple-fields-form button {
    margin: 1em 0;
    background-color: var(--accent-red-2);
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
    border: none;
    font-size: 1.5em;
}

#registration main,
#new-listing main,
#login main {
    padding: 2em;
    background-color: var(--bg);
}

#login .multiple-fields-form {
    height: auto;
}

#registration h2,
#new-listing h2,
#login h2 {
    margin-top: unset;
    margin-bottom: .75em;
    font-weight: 500;
    font-size: 2em;
    color: var(--accent-red);
}

#registration-perks {
    display: none;
}

/* PAGINE ERRORI 404 E 500 */
#error-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/imgs/404.jpg);
    background-size: cover;
    background-position: center;
    padding: 1.5em;
}

#error-container {
    background-color: rgba(230, 230, 230, 0.8);
    border-radius: 25px;
    padding: 1.5em;
    text-align: center;
}

#error-container h2 {
    color: var(--accent-red-2);
    font-size: 1.6em;
}

#error-container p {
    font-size: 1.2em;
}

#error-container a {
    color: var(--accent-red);
}

@media only screen and (min-width: 500px) {

    /* RISULTATI */
    .listing {
        margin-left: 0.25em;
        margin-right: 0.25em;
        width: 47%;
    }

    .listing-title {
        font-size: 1.4em;
    }

    .listing-author {
        font-size: 1.2em;
    }

    .listing p {
        padding-left: unset;
        padding-right: unset;
        text-align: center;
        font-size: 1em;
    }

    .listing-price {
        font-size: 1.2em;
    }

    .listing a {
        padding: 0.5em;
        margin: 0.5em 0.5em 0.75em 0.5em;
        color: white;
        text-decoration: none;
        background-color: var(--accent-red-2);
        border-radius: 10px;
        text-align: center;
        display: block;
    }

    /* SINGOLO ANNUNCIO */

    #listing-content #listing-descr,
    #listing-content dt,
    #listing-content dd {
        font-size: 1.15em;
    }
}

@media only screen and (min-width: 600px) {

    /* HOME */
    #home main {
        align-items: center;
        padding: unset;
        padding-bottom: 3em;
    }

    #home main h2 {
        text-align: center;
    }

    #home main>div {
        width: 85%;
    }

    /* INFO */
    #info {
        flex-direction: row-reverse;
    }

    .text {
        padding: 1.5em 3em;
    }

    /* SINGOLO ANNUNCIO */
    #listing-content dl {
        max-width: 49%;
    }

    #listing-content #listing-buttons {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }

    /* REGISTRAZIONE */
    #registration main,
    #new-listing main {
        width: 85%;
        align-self: center;
    }
}

@media only screen and (min-width: 768px) {
    #menu-btn {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    #menu {
        padding: unset;
        display: flex;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav li {
        display: inline;
        padding: unset;
        margin-left: 1.25em;
    }

    /* HOME */
    #home main {
        align-items: center;
        background-image: url("./assets/imgs/hats.jpg");
        justify-content: center;
        padding: unset;
    }

    /* INFO */
    #info,
    #disclaimer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    #info>img,
    #disclaimer>img {
        display: inline;
        border-radius: 25px;
        margin: 1.5em;
        height: 350px;
    }

    #info,
    #disclaimer {
        background-image: none;
    }

    #disclaimer {
        background-color: var(--bg-alt);
    }

    #info .text,
    #disclaimer .text {
        background-color: rgba(230, 230, 230, 0);
        padding-left: 1.5em;
        padding-right: 1.5em;
        max-width: 50%;
    }

    /* RISULTATI */
    .listing {
        width: 30%;
    }

    #home main>div {
        width: 70%;
    }

    /* LOGIN E REGISTRAZIONE */
    #login main {
        width: 60%;
        align-self: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #registration .multiple-fields-form {
        max-width: 85%;
    }

    #registration main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #registration h2 {
        display: none;
    }

    #registration .multiple-fields-form {
        width: 50%;
    }

    #registration-perks {
        background-color: var(--bg-alt);
        list-style: none;
        display: block;
        border-radius: 30px;
        margin-left: 3em;
        padding: 2em;
        width: 50%;
    }

    #registration-perks h2 {
        display: block;
    }

    #registration-perks li {
        padding: 1em 0 0.5em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* background-color:red;  */
    }

    #registration-perks .icon {
        width: 4.5em;
        height: 4.5em;
        padding: 0.5em;
        margin-right: 1em;
        background-repeat: no-repeat;
        background-position: center;
    }

    #registration-perks p {
        width: 80%;
    }

    #addAnnuncioImg {
        background-image: url("assets/imgs/vantaggiAddItem.png");
    }

    #salvaAnnuncioImg {
        background-image: url("assets/imgs/vantaggiSaveItem.png");
    }

    #feedbackImg {
        background-image: url("assets/imgs/vantaggiFeedback.png");
    }

    /* NUOVO ANNUNCIO */
    #new-listing main {
        width: 60%;
    }

    /* SINGOLO ANNUNCIO */
    #listing-content main {
        padding: 3em;
        align-items: center;
    }

    #listing-content #listing-buttons {
        flex-direction: column;
        align-items: flex-start;
        margin-left: unset;
        margin-right: unset;
    }

    #listing-content .listing-btn {
        background-color: rgba(255, 255, 255, 0);
        text-decoration: underline;
        color: var(--accent-red);
        width: auto;
        padding: unset;
        margin-bottom: 1em;
        font-weight: 600;
    }

    #listing-content #listing-descr {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 1.75em 3em;
    }

    /* HOME */
    #home main h2 {
        font-size: 2.5em;
    }

    #home main>div {
        width: 50%;
    }

    /* INFO */
    #info .text,
    #disclaimer .text {
        font-size: 1.1em;
    }

    /* LOGIN E REGISTRAZIONE */

    #registration,
    #login {
        background-image: url(./assets/imgs/login.jpg);
        background-size: cover;
        background-position: center;
    }

    #login main {
        width: 50%;
    }

    #registration main {
        width: 80%;
    }

    #registration .multiple-fields-form {
        max-width: 40%;
    }

    #registration-perks li {
        font-size: 1.15em;
    }

    /* NUOVO ANNUNCIO */
    #new-listing main {
        width: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header h1 {
        font-size: 2.5em;
    }

    nav {
        font-size: 1.25em;
    }

    /* HOME */
    #home main {
        padding: 5em;
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        max-height: none;
        align-items: center;
    }

    #home main h2 {
        font-size: 3em;
    }

    #home main>div {
        width: 45%;
    }

    /* RISULTATI */
    .listing {
        width: 21%;
        margin-left: 0.75em;
        margin-right: 0.75em;
    }

    /* INFO */
    #disclaimer,
    #info {
        padding: 1.5em 10em;
        margin: auto;
    }

    /* REGISTRAZIONE E LOGIN */
    #login main {
        width: 30%;
    }

    #registration main {
        width: 60%;
    }

    /* NUOVO ANNUNCIO */
    #new-listing main {
        width: 35%;
    }

    /* SINGOLO ANNUNCIO */
    #listing-content main {
        align-self: center;
    }
}